# Unity specific
/[Ll]ibrary/
/[Tt]emp/
/[Uu]ser[Ss]ettings/
/Temp/*
/Logs/*

# Visual Studio / MonoDevelop specific
/[Ee]xported[Oo]bj/
/[Ll]ocal[Cc]ache/
/.vs/
/.vscode/
/Assets/Plugins/Editor/

# macOS specific files
/[Dd]ata/[Dd]ata
/[Dd]ata/.DS_Store

# Rider specific
.idea/
*.csproj
*.sln
